<h2>Team Managers</h2>

<div *ngFor="let user of users | async" class="card">
  <div class="card-content">
    <button type="button" class="btn right card-active" (click)="edit(user)">Edit</button>
    <h3 (click)="goToUserPage(user)"><em>{{user.userName}}</em></h3>
  </div>
  <div class="input-field card" *ngIf="selectedUser === user">
    <div class="card-content">
      <button type="button" class="btn right yellow darken-4" (click)="finishedEditing()">Done</button>
      <input #name id="name" type="text" [(ngModel)]="selectedUser.userName">
      <label for="name">UserName</label>
    </div>
  </div>
</div>
